.messageBox {
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}
.messageBox::-webkit-scrollbar {
  display: none;
}

.sender-thumbnail {
    border-radius: 50%;
    width: 30px;
    height: auto;
};
