#stickyFooter{
  padding:5px;
  background-color: rgba(57,66,14,100%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1007;

}
.search{
  font-size: 1.5rem;
  padding-top: 1rem;
  display: flex;
  justify-content:space-around;
  color: rgba(235,240,225,100%);
}
#messages{
  display: flex;
  justify-content:space-around;
}
.messageBtn{
  color: rgba(235,240,225,100%);
  padding-top: 0.8rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.hiking {
  padding-top: 0.8rem;
  padding-right: 1rem;
  color: rgba(235,240,225,100%);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}
#logofooter {
  display: flex;
  justify-content:space-around;
  color: rgba(235,240,225,100%);
  padding-top: 1rem;
  padding-left: 1rem
}
<<<<<<< HEAD
/* .loggedIn .fas {
  color: darkgreen;
  font-size: 3rem;
} */
=======
>>>>>>> Dev

.community {
  padding-top: 0.8rem;
  padding-right: 1rem;
  color: rgba(235,240,225,100%);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}