
.details-heading {
    margin-top: 1rem;
    font-weight: bold;
    color: rgba(19,131,242, 100%);
}
.flipCardTitle {
    color: rgba(19,131,242, 100%);
}
.resources {
    background-color: rgba(57,66,14,30%);
}
.padding-flip{
    padding-left: 10px;
    padding-right: 10px;
}
/* Card flip animation CSS */

.card--flipped .card__inner {
        transform: rotateY(180deg);
}

.flipcard, .card__inner {    
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card__back {
    transform: rotateY(180deg);
    overflow:scroll;
    overflow-x: hidden;
    border-radius: 5px;
}

.card__back::-webkit-scrollbar {
    display: none;
}


.card__inner {
    transition: transform .25s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

.card__front  {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:rgba(28,33,1,100%);
    background-color: rgba(235,240,235,100%); 
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card__back  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:rgba(28,33,1,100%);
    background-color: rgba(235,240,235,100%); 
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card__front .grid-x {
    height:100%;
}
.card__back .grid-container {
    height:100%
}
.editFlipcard{
    margin-right: 15px;
    color: rgba(255,103,0,100%);

}
@media only screen and (max-width: 600px) {
    .grid-container {
        padding-left: 0;
        padding-right: 0;
    }
    .flipcard {
        margin-right: 0;
        margin-left: 0;
    }
}

.publicProfileIcons {
    color:rgba(255,103,0,100%);
    display: inline-block;
    margin-left: 1rem;

}

.clickableHost {
    color: rgba(255,103,0,100%)
}

.clickableHost:hover {
    font-weight: bolder;
    
}