.card-section, .card-divider {
    background-color: rgba(39, 36, 27, 90%);
}

.flipcard {
    margin: 10px;
}

.details-heading {
    margin-top: 1rem;
    font-weight: bold;
    color: rgba(207, 162, 66, 100%);
}

.resources {
    background-color: rgba(85, 91, 87, 90%);
}

/* Card flip animation CSS */

.card--flipped .card__inner {
        transform: rotateY(180deg);
    }


.flipcard,
.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.card__back {
    transform: rotateY(180deg);
    overflow:scroll;
    overflow-x: hidden;
}

.card__back::-webkit-scrollbar {
    display: none;
    }


.card__inner {
    transition: transform .25s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
  }

.card__front  {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:rgba(243, 236, 216,100%);
    background-color: rgba(39, 36, 27, 90%); 
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card__back  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:rgba(243, 236, 216,100%);
    background-color: rgba(39, 36, 27, 90%); 
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        padding-left: 0;
        padding-right: 0;
    }
    .flipcard {
        margin-right: 0;
        margin-left: 0;
    }
}