.feedContainer {
    margin-top: 3vh;
    margin-left: 2vw;
    margin-right:2vw;
}

textarea.form-control{
    width:100%
}

.postTextArea {
    justify-content:center;
    border-radius: 10px;
    background-color: rgba(235,240,235,100%);
    color:rgba(28,33,1,100%);
    padding-top: 15px;
    
}

