
#topBar.grid-container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    /* border-bottom: 1px solid rgba(39, 36, 27, 100%);  */
    height: 10vh;
    width: 100%;
    z-index: 1007;
    position: fixed;
    min-height: 75px;
    top: 0;
    left: 0;
    background-color:rgba(255,103,0,100%);
}

.navText {
      
}

.fixingHeight{
    height: 10vh;
    font-size: 1.8rem;
    min-height: 75px;
    
}

.loginLink{
color: rgba(28,33,1,100%);
display:flex;
justify-content: flex-end;
margin-top: 1vh;

}

.signout {
    padding-top: 0.8rem;
    padding-right: 0.2rem;
    color: rgba(28,33,1,100%);
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }