#profilePic {
    height: 15vh;
    border-radius: 50%;
    /* box-shadow: 0px 0px 15px whitesmoke; */

}

.hero-section {
    background: 50% no-repeat;
    /* background-size: cover; */
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hero-section .hero-section-text {
    color: rgba(243, 236, 216,100%);
}

.bannerimage {
    width: 100%;

}
.bannerdiv {
    overflow:hidden;
    height:30vh;
}
.bannerName {
    position:relative;
    top: -5vh;
}
.bannerNegate{
    top: 5vh;
}
.Matthew-Stuff{
    padding:3px;
}