.wrapper {
    min-height: 80vh;
    padding-bottom: 100px;
    margin-top:0;
  }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .wrapper {
    margin-left: 10vw;
  margin-right:10vw}

}

@media screen and (min-width: 64em) {
  .wrapper {
    margin-left: 20vw;
  margin-right:20vw}

}