.reveal.d-block {
    display:block;
}

.reveal.d-none {
    display:none;
}
.reveal {
    /* width: 60%; */
    border:none;
    position: absolute;
    top:10vh;
    background-color:  rgb(120, 105, 61);
    color: rgba(243, 236, 216,100%);
    border-radius: 5px;
    align-content: center;
}