.modal.d-block {
    display:block;
}
.modal.d-none {
    display:none;
}
.modal {
    border:none;
    position: fixed;
    top:10vh;
    left:0;
    width:100vw !important;
    height:80vh;
    background-color:rgba(235,240,235,60%);
}
.modalBody {
    border:none;
    width: 60vw;
    position: absolute;
    max-height: 78vh;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    margin-left: auto;
    margin-right:auto;
    background-color:  rgba(57,66,14,100%);
    padding:10px;
    color:  rgba(235,240,225,100%);
    border-radius: 5px;
    align-content: center;
    overflow:scroll;
    overflow-x: hidden;
}
.modalBody label {
    color:  rgba(235,240,225,100%);
}

@media only screen and (max-width: 900px){
    .modalBody {
        width:90vw;
    }
}