.reveal.d-block {
    display:block;
}

.reveal.d-none {
    display:none;
}
.reveal {
    border:none;
    background-color:  rgba(39, 36, 27, 100%);
    color: rgba(243, 236, 216,100%);
    border-radius: 5px;
}