.copyright {
    margin-bottom: 85px;
}

#Footer{
    padding:5px;
    background-color: rgba(235,240,235,100%);
    color: rgba(28,33,1,100%);
    /* position: relative; */
    /* bottom: 0;
    left: 0; */
    width: auto;
    /* opacity: 0.9; */
    height: auto;
  }