.tagBox {
    background-color: rgba(19,131,242, 90%);
    color: rgba(235,240,225,100%);
    margin: 0px 2px;
    padding: 0.2rem 0.7rem;
    border-radius: 10px;
    height:30px;
}

.x-button {
    display:inline-block
}

.tagBox p {
    margin:0;
    margin-right: 0.1rem;
    padding:0;
    display:inline-block
}
