.tagBox {
    background-color: rgba(207, 162, 66, 80%);
    color: rgba(39, 36, 27, 100%);
    margin: 0px 2px;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    height:30px;
}

.x-button {
    display:inline-block
}

.tagBox p {
    margin:0;
    margin-right: 0.1rem;
    padding:0;
    display:inline-block
}
