
.homepage {
   
    opacity: 0.9;
    background: url("../../images/homepage.jpg") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
  }
 
  .hpTitle {
    margin:1rem;
    display: flex;
    justify-content: center;
    color: rgba(243, 236, 216,100%);
    text-shadow: 1px 1px 2px rgba(39, 36, 27, 100%);
   
  }
  .callout{
    margin-top: 20vh;
    max-width: 80vw;
    opacity: 0.98;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-radius: 10px;
    background-color: rgba(39, 36, 27, 100%);
  }


.searchBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.findAdventure  {
  width: 60%;
   margin: 0.4rem;
   
  }
  
  .searchAdventure{
    max-width: 35%;
    max-height: 60%;
    margin-top: 0.5rem;
    border-radius: 5px;
    color:rgba(39, 36, 27, 100%);
    background-color: rgba(225, 215, 205, 100%);
  }

  .hostAdventure{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color:rgba(39, 36, 27, 100%);
    background-color: rgba(207, 162, 66, 100%);
 
  }
 
  .searchAdventure :hover{
    color: rgb(13, 149, 240);
  }

  .firstChar {
    color:rgba(86, 121, 4, 100%);
    font-family: 'Gloria Hallelujah', cursive;
    float: left;
    font-size: 55px;
    line-height: 60px;
    padding-top: 7px;
    padding-right: 3px;
    padding-left: 10px;
    text-shadow: 1px 1px 2px rgb(5, 5, 5);

}
.introLine{
  font-size: 27px;
  color: rgb(86, 121, 4);
  text-shadow: 1px 1px 2px rgba(5, 5, 5, 100%);
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 2px;

}
.instructions{
  margin-top: 20px;
}
.howToUse{
  background-color: whitesmoke;
  opacity: .8;
}
.introduction{
  margin: 10px;
  margin-top: 15px;
  
}

