.calloutAdventures{ 
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-radius: 10px;
    background-color: rgba(39, 36, 27, 95%);
  }


.searchBoxAventures{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.findAdventureAdventures{
  width: 100%;
   margin: 0.4rem;
   
  }